@font-face {
    font-family: 'KiwiSoda';
    src: url('/public/KiwiSoda.ttf');
}

@font-face {
    font-family: 'PressStart2P';
    src: url('/public/PressStart2P.ttf');
}

* {
    background-color: aliceblue;
    font-family: PressStart2P;
    color:#2b2424
}

h1 {
    font-size: 3.5rem;
    font-family: KiwiSoda;
}

h2 {
    font-size: 2.5rem;
    font-family: KiwiSoda;
    margin-bottom: 10px;
}

#game-container {
    display: flex;
    gap: 20px;
}

#grid-container {
    display: grid;
    width: 850px;
    height: 850px;
    border: 3px solid #5a3825;
}

#money-text {
    font-size: 2rem;
    margin-top: 5px;
}

#money-display {
    font-size: 3rem;
    text-decoration: underline;
}

#next-day-button {
    padding: 10px 15px;
    font-size: 2rem;
    border: 4px solid #5a3825;
    background-color: #f0e4d0;
    border-radius: 16px;
    cursor: pointer;
}

hr {
    border-top: 10px solid #5a3825;
}

/* TODO: Fazer sprites para os tile e plantas */
.tile {
    background-color: #a16642;
    border: 1px solid #754a31;
}

.tile.rock {
    background-color: #7d7d7d;
}

.tile.weed {
    background-color: #2e8b57;
}

.tile.tilled {
    background-color: #a35d31;
}

.tile.watered {
    background-color: #58331d;
}

#tool-selection {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tool-button {
    padding: 10px 15px;
    font-size: 1.3rem;
    border: 4px solid #5a3825;
    background-color: #f0e4d0;
    border-radius: 16px;
    cursor: pointer;
}

/*Fix pro icone da enxada que é mto pequeno*/
#sickle-icon {
    font-size: 1.7rem;
    background-color: #f0e4d0;
}

.tool-button.active {
    background-color: #a16642;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#seed-selection {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.seed-button {
    padding: 10px 15px;
    font-size: 1.7rem;
    border: 4px solid #5a3825;
    background-color: #f0e4d0;
    border-radius: 16px;
    cursor: pointer;
}

.seed-button.active {
    background-color: #a16642;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.seed-button > p {
    font-size: 1.3rem;
    border: 4px solid #5a3825;
    background-color: #ebd5b0;
    border-radius: 8px;
}

.seed-button.active > p {
    background-color: #83583e;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}